@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans:wght@300&family=Poppins:wght@300;500;700&display=swap');

.form{
  display: flex;
  width: 80%;
  height: 100%;
  margin-left: 150px;
  margin-top: 30px;
  flex-flow: row wrap;
}

.formFill{
  width: 50%;
}

.formDiv,.formConfirm,.formDivRadio,.formVaccineChild,.formLegal{
  display: flex;
  width: 250px;
  height: 100%;
  flex-direction: column;
  margin-bottom: 10px;
}

.formConfirm{
  width: 100%;
  height: 50px;
  margin-bottom: 0;
}

.formVaccine{
  display: flex;
  flex-direction: row;
  width: 70%;
  border: 1px solid black;
  margin-bottom: 10px;
  padding-left: 20px;
}

.formLegal{
  width: 100%;
  flex-direction: row;
  margin-bottom: 15px;
}

.formDivRadio{
  width: 100%;
  flex-direction: row;
  gap: 15px;
}

.formDivRadio{
  flex-direction: row;
  gap: 15px;
}

.formLabel{
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}

.formLegal .formLabel{
  margin-left: 10px;
}

.formDivRadio .formLabel{
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

.formField,.formAddress{
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  width: 80%;
  padding: 0.4rem;
}

.formVaccineChild .formField{
  width: 80%;
}

.formRadio{
  margin-left: 5px;
}

.formAddress{
  width: 100%;
}

.buttonDiv{
  width: 100%;
}

.button{
  width: 100px;
  padding: 10px;
  margin-right: 20px;
  background-color: #800000;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: #fff;
  border-color: #800000;
}

.button:hover{
  cursor:pointer;
}
